.App {
  text-align: center;
}




.home{
  text-align: center;
}

.pizzaComponent{
  text-align: center;
}

.pizzaForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
